@use 'tokens' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $color-slate-800;
  background: $color-background;
  -webkit-font-smoothing: antialiased;
}
